body{
background-color: Lavender;
}

#fin{
	display: none;
	font-family: "Courier New";
	font-size: 30px;
	text-align: center;
	color: white;
	border: 1px solid white;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 20px
	width: 60%;
}

h1{
	text-align: center;
	font-family: Monaco;
	font-size: 50px;
	border: 3px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	background: violet;
}

.questions{
	text-align:center;
	font-family: Monaco;
	font-size: 30px;
	border: 2px solid black;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	background: DodgerBlue;
}

.answers{
	text-align:center;
	font-family: Monaco;
	font-size: 25px;
	border: 2px solid black;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
	background: Orange;
	font-weight: bold;
}

.suivante{
	visibility: hidden;
	text-align:center;
	font-family: Monaco;
	font-size: 25px;
	border: 2px solid black;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 30%;
	background: Ivory;
	font-weight: bold;
}


.q1{
	display: none;
}

.q2{
	display: none;
}

.q3{
	display: none;
}

.q4{
	display: none;
}
.q5{
	display: none;
}

.q6{
	display: none;
}

.q7{
	display: none;
}

.q8{
	display: none;
}